@model PessoaViewModel
@{
    ViewData["Title"] = "Pessoa";
}
@using (Html.BeginForm("Cadastrar", "Pessoa", FormMethod.Post))
{
    <div class="pessoa box">
        <div class="titulo">Cadastrar Pessoa Física</div>
        <div class="divisao">
            <div class="header">Dados Pessoais</div>
            <div class="row">
                <div class="field">
                    <label for="nome">Nome</label>
                    <input id="nome" type="text" maxlength="50" name="Nome">
                </div>
                <div class="field">
                    <label for="sobrenome">Sobrenome</label>
                    <input id="sobrenome" type="text" maxlength="50" name="Sobrenome">
                </div>
                <div class="field">
                    <label for="datanascimento">Data de nascimento</label>
                    <input id="datanascimento" type="date" name="DataNascimento">
                </div>
            </div>
            <div class="row">
                <div class="field">
                    <label for="email">Email</label>
                    <input id="email" type="text" maxlength="50" name="Email">
                </div>
                <div class="field">
                    <label for="cpf">CPF</label>
                    <input id="cpf" type="text" maxlength="11" name="Cpf">
                </div>
                <div class="field">
                    <label for="rg">Rg</label>
                    <input id="rg" type="text" maxlength="9" name="Rg">
                </div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="divisao">
            <div class="header">Enderecos</div>
            <div>
                <template id="endereco_template">
                    <div class="endereco">
                        <div class="row">
                            <div class="field">
                                <label>Logradouro</label>
                                <input class="item logradouro" type="text" maxlength="50" name="Enderecos[0][Logradouro]">
                            </div>
                            <div class="field">
                                <label>Numero</label>
                                <input class="item numero" type="number" maxlength="10" name="Enderecos[0][Numero]">
                            </div>
                            <div class="field">
                                <label>CEP</label>
                                <input class="item cep" type="number" maxlength="8" name="Enderecos[0][Cep]">
                            </div>
                        </div>
                        <div class="row">
                            <div class="field">
                                <label>Complemento</label>
                                <input class="item complemento" type="text" maxlength="50" name="Enderecos[0][Complemento]">
                            </div>
                            <div class="field">
                                <label>Cidade</label>
                                <input class="item cidade" type="text" maxlength="50" name="Enderecos[0][Cidade]">
                            </div>
                            <div class="field">
                                <label>Estado</label>
                                <input class="item estado" type="text" maxlength="2" name="Enderecos[0][Estado]">
                            </div>
                        </div>
                        <div class="row">
                            <button class="remover" onclick="removerEndereco(this)">Remover</button>
                        </div>
                    </div>
                </template>
            </div>
            <div class="row">
                <button type="button" class="adicionar" onclick="adicionarEndereco()">Adicionar Endereço</button>
            </div>
        </div>
        <div class="separador"></div>
        <div class="divisao">
            <div class="header">Contatos</div>
            <div>
                <template id="contato_template">
                    <div class="contato">
                        <div class="row">
                            <div class="field">
                                <label>Nome</label>
                                <input class="item nome" type="text" maxlength="50" name="Contatos[0][Nome]">
                            </div>
                            <div class="field">
                                <label>Contato</label>
                                <input class="item nontato" type="text" maxlength="50" name="Contatos[0][Contato]">
                            </div>
                            <div class="field">
                                <label>Tipo contato</label>
                                <input class="item tipo" list="tipos_contato" name="Contatos[0][Tipo]">
                                <datalist id="tipos_contato">
                                    <option value="Telefone"></option>
                                    <option value="EMail"></option>
                                </datalist>
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" class="remover" onclick="removerContato(this)">Remover</button>
                        </div>
                    </div>
                </template>
            </div>
            <div class="row">
                <button type="button" class="adicionar" onclick="adicionarContato()">Adicionar Contato</button>
            </div>
        </div>
        <div class="separador"></div>
        <div class="divisao">
            <button type="submit">Salvar</button>
        </div>
    </div>
}
@section Scripts {
    <script>
        var enderecoCount = 0,
            contatoCount = 0;

        function adicionarEndereco() {
            const template = document.getElementById('endereco_template');
            const instance = template.content.cloneNode(true);
            const item = instance.querySelectorAll('.item');
            const i = enderecoCount;
            item[0].name = 'Enderecos[' + i + '][Logradouro]';
            item[1].name = 'Enderecos[' + i + '][Numero]';
            item[2].name = 'Enderecos[' + i + '][Cep]';
            item[3].name = 'Enderecos[' + i + '][Complemento]';
            item[4].name = 'Enderecos[' + i + '][Cidade]';
            item[5].name = 'Enderecos[' + i + '][Estado]';
            enderecoCount++;
            template.parentElement.appendChild(instance);
        }

        function adicionarContato() {
            const template = document.getElementById('contato_template');
            const instance = template.content.cloneNode(true);
            const item = instance.querySelectorAll('.item');
            const i = contatoCount;
            item[0].name = 'Contatos[' + i + '][Nome]';
            item[1].name = 'Contatos[' + i + '][Contato]';
            item[2].name = 'Contatos[' + i + '][Tipo]';
            contatoCount++;
            template.parentElement.appendChild(instance);
        }

        function removerEndereco(e)
        {
            const enderecos = document.getElementsByClassName('endereco');
            const endereco = e.parentElement.parentElement;
            const div = endereco.parentElement;
            div.removeChild(endereco);

            enderecoCount = enderecos.length;

            for (let i = 0; i < enderecoCount; i++)
            {
                let item = enderecos[i].querySelectorAll('.item');
                item[0].name = 'Enderecos[' + i + '][Logradouro]';
                item[1].name = 'Enderecos[' + i + '][Numero]';
                item[2].name = 'Enderecos[' + i + '][Cep]';
                item[3].name = 'Enderecos[' + i + '][Complemento]';
                item[4].name = 'Enderecos[' + i + '][Cidade]';
                item[5].name = 'Enderecos[' + i + '][Estado]';
            }
        }

        function removerContato(e)
        {
            const contatos = document.getElementsByClassName('contato');
            const contato = e.parentElement.parentElement;
            const div = contato.parentElement;
            div.removeChild(contato);

            contatoCount = contatos.length;

            for (let i = 0; i < contatoCount; i++)
            {
                let item = contatos[i].querySelectorAll('.item');
                item[0].name = 'Contatos[' + i + '][Nome]';
                item[1].name = 'Contatos[' + i + '][Contato]';
                item[2].name = 'Contatos[' + i + '][Tipo]';
            }
        }

        adicionarEndereco();
        adicionarContato();
    </script>
}